@import "../style/theme";
@import "../style/animation";

.vm-loading {
  font-size: 0;
  position: relative;
  vertical-align: middle;
  color: @loading-spinner-color;

  &-container {
    width: @loading-spinner-size;
    // compatible for 1.x, users may set width or height in root element
    max-width: 100%;
    height: @loading-spinner-size;
    max-height: 100%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    animation: vm-rotate @loading-spinner-animation-duration linear infinite;

    &-spinner {
      animation-timing-function: steps(12);

      i {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;

        &::before {
          width: 2px;
          height: 25%;
          content: " ";
          display: block;
          margin: 0 auto;
          border-radius: 40%;
          background-color: currentColor;
        }
      }
    }

    &-circular {
      animation-duration: 2s;
    }
  }

  &-circle {
    display: block;
    width: 100%;
    height: 100%;

    circle {
      stroke: currentColor;
      stroke-width: 3;
      stroke-linecap: round;
      animation: vm-circular 1.5s ease-in-out infinite;
    }
  }

  &-text {
    display: inline-block;
    margin-left: @padding-xs;
    color: @loading-text-color;
    font-size: @loading-text-font-size;
    vertical-align: middle;
  }

  &-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;

    .vm-loading-text {
      margin: @padding-xs 0 0;
    }
  }
}

@keyframes vm-circular {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}

.generate-spinner(@n, @i: 1) when (@i =< @n) {
  .vm-loading-container-spinner i:nth-of-type(@{i}) {
    opacity: 1 - (0.75 / 12) * (@i - 1);
    transform: rotate(@i * 30deg);
  }
  .generate-spinner(@n, (@i + 1));
}
.generate-spinner(12);
