@import "../style/theme";
@import '../style/mixins/hairline';

.vm-cell {
  width: 100%;
  display: flex;
  padding: @content-padding;
  box-sizing: border-box;
  line-height: @content-line-height;
  position: relative;
  background-color: @white;
  color: @black;
  font-size: @font-size-md;
  overflow: hidden;
  flex-wrap: wrap;

  &:not(:last-child)::after {
    .hairline-bottom();
  }

  &-shortBorder {
    &:not(:last-child)::after {
      .hairline-bottom(@gray-4, @border-padding, @border-padding);
    }
  }

  &-borderless::after {
    display: none;
  }

  &-label {
    color: @grey;
    font-size: @font-size-ml;
    margin-top: 5px;
    line-height: @content-line-height-md;
  }

  &-content {
    width: 100%;
    display: flex;
  }

  &-title,
  &-value {
    flex: 1;
  }

  &-value {
    color: @grey;
    overflow: hidden;
    text-align: right;
    position: relative;
    vertical-align: middle;

    &-alone {
      color: @black;
      text-align: left;
    }
  }

  &-left-icon,
  &-right-icon {
    height: @content-line-height;
    min-width: 1em;
    font-size: @font-size-lg;
    line-height: @content-line-height;
  }

  &-left-icon {
    margin-right: 5px;
  }

  &-right-icon {
    color: @grey;
    margin-left: 5px;
  }

  &-clickable {
    &:active {
      background-color: @gray-4;
    }
  }

  &-required {
    overflow: visible;

    &::before {
      content: '*';
      position: absolute;
      left: 7px;
      font-size: @font-size-md;
      color: @red;
    }
  }

  &-center {
    align-items: center;
  }

  &-large {
    padding: @content-padding-lg;

    .vm-cell-title {
      font-size: @font-size-lg;
    }

    .vm-cell-label {
      font-size: @font-size-md;
    }
  }
}
