@import '../style/theme';

.vm-picker {
  overflow: hidden;
  user-select: none;
  position: relative;
  background-color: @picker-background-color;
  -webkit-text-size-adjust: 100%; /* avoid iOS text size adjust */

  &-toolbar {
    display: flex;
    height: @picker-toolbar-height;
    line-height: @picker-toolbar-height;
    justify-content: space-between;
  }

  &-cancel,
  &-confirm {
    color: @picker-confirm-color;
    padding: @picker-confirm-padding;
    font-size: @font-size-md;

    &:active {
      background-color: @select-color;
    }
  }

  &-title {
    max-width: 50%;
    font-size: @font-size-lg;
    font-weight: @font-weight-sm;
    text-align: center;
  }

  &-columns {
    display: flex;
    position: relative;
  }

  &-loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    position: absolute;
    background-color: @picker-loading-background-color;

    circle {
      stroke: @blue;
    }
  }

  &-loading .vm-loading,
  &-frame {
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 1;
    position: absolute;
    pointer-events: none;
    transform: translateY(-50%);
  }

  &-column {
    flex: 1;
    overflow: hidden;
    font-size: @font-size-lg;
    text-align: center;

    &-item {
      padding: @picker-item-padding;
      color: @picker-item-color;

      &-selected {
        font-weight: @font-weight-sm;
        color: @select-color;
      }

      &-disabled {
        opacity: @picker-disabled-opacity;
      }
    }
  }
}
