@import '../style/mixins/hairline.less';
@import '../style/theme';

.vm-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  margin-left: initial;
  transform: translate(0, 0);
  margin-right: initial;
  border: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  &:active {
    transform: translate(1px, 1px);
  }

  &-loading:active {
    transform: none;
  }

  [class*="icon"] {
    & + span {
      margin-left: @button-margin-left;
    }
  }

  &:not([class*="bg-"]) {
    background-color: @gray-4;
  }

  &[class*="border"] {
    background-color: transparent;
  }

  &[class*="border"]::after {
    display: block;
    .hairline(currentColor);
    border-width: @border-width;
    border-radius: inherit;
  }

  &-mc {
    border-radius: @button-mc-radius;
  }

  &-sc {
    border-radius: @button-sc-radius;
  }

  &&-fc {
    width: @button-md-height;
    line-height: @button-md-height;
    border-radius: @button-sc-radius;
    padding: 0;

    &.vm-button-lg {
      width: @button-lg-height;
      line-height: @button-lg-height;
    }

    &.vm-button-sm {
      width: @button-sm-height;
      line-height: @button-sm-height;
    }
  }

  &-sm {
    line-height: @button-sm-height;
    padding: @button-sm-padding;
    font-size: @font-size-sm;
  }

  &-md {
    line-height: @button-md-height;
    padding: @button-md-padding;
    font-size: @font-size-md;
  }

  &-lg {
    line-height: @button-lg-height;
    padding: @button-lg-padding;
    font-size: @font-size-lg;
  }

  &-block {
    width: 100%;
    display: block;
  }

  &&-disabled {
    opacity: @button-disabled-opacity;

    &:active {
      transform: none;
    }
  }
}
